duckduckgo-search>=6.1.0
langchain
langchain-core
langchain-community
langchain-groq
langchain-text-splitters
langchain-huggingface
langchain-chroma
python-dotenv
streamlit
pypdf
bs4
arxiv
pymupdf
wikipedia
chromadb
sentence_transformers
duckdb
pandas
openai
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
